*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color:#373737;
    border:none;
}
input, label{
    display: block;
    width: 100%;
}
input:focus, label:focus{
    outline: none;
}
a{
    color: rgb(72, 30, 127);
}
body{
    padding-top: 5vh;
    background-image: url(../css/pexels-gradienta-7130495.jpg);
    background-image: cover;
    background-position-y: -1500px;
}
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px; 
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6em; ;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box{
    flex: 1 1 100%;
    position:relative;
    
}

.half-box{
    flex: 1 1 45%;
    position:relative;
}
.spacing{
    margin-right: 2.5%;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom:  2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
input:focus{
    border-color: rgb(151, 3, 114);
}
input[type="submit"] {
   background-color: #0077b5;
    color:rgb(0, 0, 0);
    border: none;
    border-radius:20px ;
    height: 40px;
    cursor: pointer;
}
#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}
.template{
    display: none;
}


